.dashboard-screen {
  text-align: start;

  header {
    background-color: #ececec;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: end;

    nav ul {
      margin: 0 40px;

      li {
        background-color: #ea5d1a;
        color: white;
        font-weight: bold;
        display: inline-block;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  body {
    margin: 5%;
    padding: 0;
    height: 100vh;
  }
}
