form {
  display: flex;
  gap: 1rem;    
  label {
    display: none;
  }
  input {
    &::file-selector-button {
      background-color: #008000;
      border: none;
      border-radius: 0.5rem;
      padding: 0.95rem 1.25rem;
      color: white;
      font-family: sans-serif;
      font-weight: 700;
      letter-spacing: 0.5px;
      cursor: pointer;
      opacity: 0.8;
      margin: 2px;
      transition: all 0.5s ease;
      &:hover {
        opacity: 1;
      }
      &:active {
        border: rgb(255, 255, 255) 1px solid;
        outline: 2px blue solid;
        transition: all 0.2s ease;
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
